@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

svg {
  fill: currentColor;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*start-page*/
.start-page {
  min-height: 100vh;
  background: url("../img/castelmezzano-1979546 1.svg") top no-repeat;
  background-size: cover;
  padding: 51px 104px 120px 104px;
  margin: 0 auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 46px;
  margin-bottom: 196px;
  box-sizing: border-box;
}

.logo-img {
  height: 40px;
  color: #3077c6;
}

.nav {
  display: flex;
  justify-content: flex-end;
}

.nav ul {
  display: flex;
  list-style: none;
  padding-top: 5px;
}

.nav-link {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2em;
  color: #ffffff;
  margin-right: 24px;
  padding-bottom: 12px;
}

.nav-link:hover {
  border-bottom: 4px solid #f5bd41;
}

.btn {
  border: none;
  background-color: transparent;
  margin-left: 24px;
}

.nav-icon {
  fill: #ffffff;
}

.theme {
  width: 30px;
  height: 30px;
}

.account {
  width: 40px;
  height: 40px;
}

.nav-icon:hover {
  fill: #f5bd41;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
  color: #ffffff;
  margin-bottom: 100px;
}

.form-search {
  display: flex;
  max-height: 64px;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
  margin-bottom: 120px;
  background-color: #ffffff;
}

.label-form-search {
  margin-bottom: 24px;
}

.input-title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16em;
  color: #ffffff;
  margin-left: 24px;
  margin-right: 197px;
}

.input-form {
  height: 64px;
  border: none;
  padding-left: 24px;
  margin-right: 3px;
}

.input-form:focus {
  border-radius: 8px;
  outline: 3px solid #f5bd41;
}



.btn-search {
  background-color: #3077c6;
  border: 3px solid #3077c6;
  border-radius: 8px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16em;
  margin: -3px -3px -3px 0;
}

.downloads-apps {
  display: flex;
  justify-content: center;
}

a img {
  margin-right: 13px;
}

/*advantages*/
.offer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2em;
}

.line {
  border: none;
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: 0 auto;
}

.container-advantages {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 80px 88px 0 104px;
}

.advantages-icon {
  height: 176px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 122px;
}

.img-icon {
  width: 100px;
  height: 100px;
  color: #3077c6;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 48px;
  line-height: 1.2em;
}

/* footer */
.footer {
  background-color: #10367c;
  color: #ffffff;
}

.logo-footer {
  display: none;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 120px 272px 40px 104px;
}

.footer-list {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
}

.footer-link {
  margin-bottom: 24px;
}

.footer-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

.about {
  margin-right: 180px;
}

.property {
  margin-right: 259px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15em;
  padding-left: 103px;
  padding-bottom: 120px;
}

/* Media */

@media screen and (max-width: 1200px) {
  /*media advantages*/
  .offer {
    margin-top: 100px;
  }

  .container-advantages {
    flex-wrap: wrap;
    padding: 60px 0 0 0;
  }
  .advantages-icon {
    width: 50%;
    height: auto;
    margin-bottom: 100px;
    margin-right: 0;
  }
  .caption {
    margin-top: 30px;
  }
  /*media footer*/
  .container-footer {
    padding: 100px 0;
    justify-content: center;
  }

  .about,
  .property {
    margin: 0 150px 0 0;
  }
}

@media screen and (max-width: 991px) {
  /*media advantages*/
  .offer {
    margin-top: 60px;
    font-size: 32px;
  }

  .container-footer {
    padding: 60px 0;
    justify-content: center;
  }
  /*media footer*/
  .about,
  .property {
    margin: 0 100px 0 0;
  }

  .copyright {
    padding-left: 70px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  /*media advantages*/
  .offer {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .line {
    display: none;
  }

  .container-advantages {
    padding: 0;
  }

  .advantages-icon {
    margin-bottom: 50px;
  }

  .img-icon {
    width: 70px;
    height: 70px;
  }

  .caption {
    font-size: 20px;
  }
  /*media footer*/
  .container-footer {
    justify-content: center;
    padding: 0;
  }

  .footer-subtitle {
    display: none;
  }

  .logo-footer {
    display: block;
    margin: 0 auto;
    padding: 60px 0;
  }

  .footer-title {
    text-decoration: underline;
  }

  .about,
  .property {
    margin: 0 50px 0 0;
  }

  .copyright {
    text-align: center;
    padding-left: 0;
    padding-bottom: 50px;
    padding-top: 42px;
  }
}

@media screen and (max-width: 360px) {
  /*media advantages*/
  .offer {
    font-size: 28px;
    line-height: 1.18em;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .container-advantages {
    padding: 32px 0 8px 0;
  }

  .advantages-icon {
    width: 214px;
    height: 104px;
    margin-bottom: 32px;
  }

  .caption {
    margin-top: 16px;
    font-size: 15px;
    line-height: 1.13em;
  }
  /*media footer*/
  .logo-footer {
    display: block;
    margin: 0 auto;
    padding: 40px 0;
    width: 98px;
    height: 19px;
    color: #ffffff;
  }

  .footer-list {
    font-size: 15px;
    line-height: 1.17em;
  }

  .footer-link {
    margin: 0;
    width: auto;
    height: auto;
  }

  .about,
  .property {
    margin: 0 16px 0 0;
  }

  .copyright {
    padding-bottom: 40px;
    padding-top: 32px;
    font-size: 12px;
    line-height: 1.17em;
  }
}
