@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

/*start-page*/
.start-page {
  min-height: 100vh;
  background: url("../img/castelmezzano-1979546 1.svg") center no-repeat;
  background-size: cover;
  padding: 51px 80px 120px 104px;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1232px;
  height: 46px;
  margin-bottom: 196px;
  box-sizing: border-box;
}

.logo-img {
  width: 205px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.2em;
  color: #FFFFFF;
  margin-right: 24px;
  padding-bottom: 12px;
}

.nav-link:last-of-type {
  margin-right: 48px;
}

.nav-link:hover {
  border-bottom: 4px solid #F5BD41;
}

.btn {
  border: none;
  background-color: #121212;
  margin-right: 24px;
}

.main-title {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.2em;
  color: #ffffff;
  margin-bottom: 100px;
}
.form-search{
  display: flex;
  max-width: 1232px;
  border: 3px solid #F3F3F4;
  border-radius: 8px;
  box-sizing: border-box;
}

.input-title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16em;
  color: #ffffff;
  margin-left: 24px;
}

.input-form {
  height: 64px;
  border: none;
}

.destination {
  width: 467px;
}

.check {
  width: 259px;
}

.guests {
  width: 314px;
}

.btn-search {
  width: 192px;
  height: 64px;
}

/*advantages*/
.offer {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 120px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2em;
}

.line {
  border: none;
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  box-sizing: border-box;
  padding: 80px 88px 0 104px;
}

.icon {
  width: 296px;
  height: 176px;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 122px;
}

.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 48px;
  line-height: 1.2em;
}

/* footer */
.footer {
  background-color: #10367c;
  color: #ffffff;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 120px 272px 40px 104px;
  max-width: 1440px;
}

.footer-list {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
}

li {
  margin-bottom: 24px;
}

ul li:first-child {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.about {
  margin-right: 223px;
}

.property {
  margin-right: 283px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15em;
  padding-left: 103px;
  padding-bottom: 120px;
}
